<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Z-Kart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>controllerServlet</servlet-name>
  <servlet-class>Controllers.Controller</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>controllerServlet</servlet-name>
  <url-pattern>/api/v1/*</url-pattern>
  </servlet-mapping>
    
  <filter>
      <filter-name>requestFilter</filter-name>
      <filter-class>Controllers.RequestFilter</filter-class>
  </filter>
   
  <filter-mapping>
      <filter-name>requestFilter</filter-name>
      <url-pattern>/api/v1/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  <servlet-name>clientServlet</servlet-name>
  <servlet-class>Controllers.Start</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>clientServlet</servlet-name>
  <url-pattern>/Z-kart/*</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/index.html</location>
  </error-page>

</web-app>