<div class="error-page">
  <h1 class="error-title">{{model.code}}</h1>
  <p class="error-message">Please Try again after some time </p>
 <button {{action "goToIndex"}} class="back-button">Go Home</button>
</div>

