

// Basement for POP UP . (pop-up compoenet)

@import "variables";

.account-password-change {
  background: $pop-up-background;
  width: 100vw;
  height: 100vh;
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;

  .order {
    .order-details {
      @include flex-center(column, center, center);

      input {
        text-align: center;
        margin: $ten;
      }
    }
  }
}
